/*/////////////////////////////////////////////Product Page///////////////////////////////////////////////*/

#combodiv {
	width: 90%;
	/*margin: 0 auto;*/
	text-align: center;
}

.product {
	float: left;
	margin: 30px;

}

.productimg {
	width: 253px;
	height: 249px;
	display: inline-block;
	overflow: hidden;
	float: left;
}

.productimg img {
	display: block;
    margin: 0 auto;

}

.carddescription {
	display: inline-block ;
	width: 250px;
	height: 249px;
	background-color: beige;
	text-align: justify;
	padding: 20px;
	box-sizing: border-box;

}

.carddescription h2 {
	text-align: center;
	color: black;
	font-size: 20px;
	margin-top: 0;
}

.carddescription p {
	color: black;
	font-size: 12px;
	text-align: center;
}

.carddescription div {
	text-align: center;
}

.carddescription h4{
	font-size: 10px;
	text-align: center;
}

input[type="button"] {
	border-radius: 7px;

}

.button {
	text-align:center;
}

#products 
body {
	text-align: center;
	box-sizing: border-box;
	/*padding: 0px 75px;*/
}
#products h1 {
	text-align: center;
	width: 100%;
	padding-top: 20px;
}
/*
img {
	width: auto;
	height: 249px;
}*/
/*/////////////////////////////////////////////About & Contact///////////////////////////////////////////////*/


body {
	margin: 0;
	padding: 0;
}

#xWing {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(img/xwing.png);
  background-size: cover;
  height: 100vh;
  font-family: 'Source Sans Pro', sans-serif;
}

#tieFighter {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(img/tiefighter.png);
  background-size: cover;
  height: 100vh;
  font-family: 'Source Sans Pro', sans-serif;
}

.boxImage {
	text-align: center;
	padding: 10px 200px;
	color: #E6E1DF;
}

