/*/////////////////////////////////////////////BODY///////////////////////////////////////////////*/
body {
font-family: 'Oswald', sans-serif;
background-color: #2d2e2f;
margin: 0;
padding: 0;

}

.selected {
	color: #145383;
}


/*/////////////////////////////////////////////TOP NAVIGATION///////////////////////////////////////////////*/
.topNav {
	border: 1px solid #24201e;
	list-style: none;
	width: 100%;
	/* height: 50px; */
	background-color: #24201e;
	background:
	linear-gradient: (
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ); 
}

.topNav li {
	display: inline-block;
	padding-left: 5px;
	color: #E6E1DF;
}

a {
	color: #E6E1Df;
	font-size: 1.2rem;
	text-decoration: none;
}

/*/////////////////////////////////////////////Product Page///////////////////////////////////////////////*/

#combodiv {
	width: 90%;
	/*margin: 0 auto;*/
	text-align: center;
}

.product {
	float: left;
	margin: 30px;

}

.productimg {
	width: 253px;
	height: 249px;
	display: inline-block;
	overflow: hidden;
	float: left;
}

.productimg img {
	display: block;
    margin: 0 auto;

}

.carddescription {
	display: inline-block ;
	width: 250px;
	height: 249px;
	background-color: beige;
	text-align: justify;
	padding: 20px;
	box-sizing: border-box;

}

.carddescription h2 {
	text-align: center;
	color: black;
	font-size: 20px;
	margin-top: 0;
}

.carddescription p {
	color: black;
	font-size: 12px;
	text-align: center;
}

.carddescription div {
	text-align: center;
}

.carddescription h4{
	font-size: 10px;
	text-align: center;
}

input[type="button"] {
	border-radius: 7px;

}

.button {
	text-align:center;
}

#products 
body {
	text-align: center;
	box-sizing: border-box;
	/*padding: 0px 75px;*/
}
#products h1 {
	text-align: center;
	width: 100%;
	padding-top: 20px;
}
/*
img {
	width: auto;
	height: 249px;
}*/
/*/////////////////////////////////////////////About & Contact///////////////////////////////////////////////*/


#xWing {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(img/xwing.png);
  background-size: cover;
  height: 100vh;
  font-family: 'Source Sans Pro', sans-serif;
}

#tieFighter {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(img/tiefighter.png);
  background-size: cover;
  height: 100vh;
  font-family: 'Source Sans Pro', sans-serif;
}
#falconblueprint {
	background: 
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(img/falconblueprint.png);
  background-size: cover;
  height: 100vh;
  font-family: 'Source Sans Pro', sans-serif;
}
.boxImage {
	text-align: center;
	padding: 10px 200px;
	color: #E6E1DF;
}

.contact {
	color: #E6E1DF;

}

.contact li {
	list-style: none;
	text-decoration: none;
}

/*/////////////////////////////////////////////HOME PAGE///////////////////////////////////////////////*/
#falcon {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ),
    url(img/falcon.png);
  background-size: cover;
  height: 100vh;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: left;
  padding-left: 1em;
  padding-top: 10rem;
}
